{% extends 'layout.html'%}
{%block title%}"Flack_home"{%endblock title%}

{%block content%}
<div>
<!-- Image and text -->
    <div class="eclips" style="position: relative; right: 15%; bottom: 23rem;"></div>
    <div class="eclips2" style="position: relative; right: 15%; bottom: 27rem;"></div>


</div>

<div class="ctp">
  <p class="monsterrat" style="font-size:50px">your perfect <b class="tomatoes"> freelancer </b>is just<br> one click away!</p>
</div>
    <div class="container-fluid ctp2" style="hight:60;width:980;width: 1010px;height: 60px;">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Find a Talent..." aria-label="Search">
        <button class="btn btn-outline-success" style=" padding-bottom: 2.5;padding-top: 3px;padding-bottom: 2px;" type="submit"><b class="monsterrat" style="font-size:25px">Search</b></button>
      </form>
    </div>

<div class="container-fluid popularPosition">
    <p class="monstrrat popularRect popularPosition"><b class="monsterrat" style="font-size:25px;position: relative;left:12px; font-color:"> video editing </b></p>
</div>

<div class="container-fluid board">



</div>
{%endblock content%}
